name: CI

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1' 

      - name: Go build
        run: go build ./...

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@vlatest
        env:
            GOLANGCI_LINT_GO_VERSION: 1.25.1
        with:
          version: v2.1.6
          args: ./...
